[Unit]
Description=Run Lunch Management bulk user import worker frequently

[Timer]
OnBootSec=30s
OnUnitActiveSec=10s
AccuracySec=1s
Unit=lunch-management-user-import.service

[Install]
WantedBy=timers.target
